.heroSection {
	height: 93vh;
	background-color: #FFB703;
	display: grid;
	grid-template-areas: "slang image"
						 "slang   image";
}

.love {
	display: inline;
	color: #FB8500;
}

.division {
	grid-area: slang;
	align-self: center;
	justify-self: center;
	text-align: center;
}

.cta {
	width: 200px;
	display: block;
}

.image {
	grid-area: image;
	align-self: center;
}
