.missionSection {
	background-color: #FFB703;
	display: grid;
	padding-bottom: 10vh;
	grid-template-areas: "heading heading"
						 "image slang";
}

#mission, .hashtag {
	color: #219EBC;
}

.headingMission {
	grid-area: heading;
	margin: 10vh auto 0 auto;
}

.slang {
	grid-area: slang;
	text-align: center;
	align-self: center;
}

.image {
	grid-area: image;
	margin: 0 auto;
}

.happySmiles {
	color: #FB8500;
}
