.smilesSection {
	background-color: #FFB703;
	min-height: 93vh;
	padding-bottom: 5vh;
	height: auto;
}

.smiles {
	color: #FB8500;
}

.happy {
	color: #219EBC;
}

.nSmiles {
	font-size: 7rem;
	color: #FB5500;
}

