.navbar {
	background-color: #023047;
	color: white;
	height: 7vh;
	font-size: 1.5rem;
	display: grid;
	grid-template-columns: 45% 10% 45%;
}

.navbar > ul {
	list-style-type: none;
	align-self: center;
	justify-self: start;
	margin-left: 3rem;
}

.navbar > ul > * {
	display: inline;
	margin: auto 10px;
}

.navbar img {
	display: inline;
	margin: 0 auto;
	height: 60px;
	justify-self: center;
	align-self: center;
}

.navbar > .button {
	width: 100px;
	margin-right: 3rem;
	justify-self: end;
	align-self: center;
}
