.formSection {
	height: 93vh;
	background-color: #FFB703;
	text-align: center;
	padding-top: 10vh;
}

.blockForm {
	width: 70%;
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	background-color: #FB8500;
	margin-top: 17vh;
}

#title {
	margin: 0 auto;
}

#click {
	color: #219EBC;
}

#smile {
	color: #FB8500;
}

.nameInput, .messageInput {
	margin-bottom: 10px;
}
